.quiz-options-container {
    justify-self: center;
    align-self: center;
    position: relative;
    width: 80%;
    overflow-y: auto;
    border-radius: 10px;
    padding: 50px;
}

.quiz-options-scroll-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    overflow-x: auto;
    padding: 1rem;
    gap: 0.5rem;
    scroll-behavior: smooth;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
}

.quiz-options-scroll-container::-webkit-scrollbar {
    height: 10px;
}

.quiz-options-scroll-container::-webkit-scrollbar-track {
    background: #dfdfdf;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.quiz-options-scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.quiz-options-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.quiz-options-playlist-card {
    flex-shrink: 0;
    width: 150px; /* adjust width */
    text-align: center;
    color: black;
    padding: 5px; /* adjust padding */
    padding-bottom: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.quiz-options-playlist-card:hover {
    transform: scale(1.05);
}

.quiz-options-playlist-image {
    width: 150px;
    height: 150px; /* adjust image size */
    object-fit: cover;
    border-radius: 10px;
}

.quiz-options-playlist-name {
    display: flex;
    font-weight: bold;
    margin-top: 5px; /* adjust spacing */
    text-align: center;
    overflow: hidden;
    text-wrap: balance;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.quiz-options-size-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    margin: auto;
}

.quiz-options-size-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: .5rem;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.quiz-options-size-button:hover {
    background-color: rgb(85, 85, 85);
    color: white;
    transform: scale(1.05);
}

.quiz-options-size-button.selected {
    background-color: #1db954;
    color: white;
    font-weight: bold;
}

.quiz-options-difficulty-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    margin: auto;
}

.quiz-options-difficulty-button {
    min-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: .5rem;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.quiz-options-difficulty-button:hover {
    background-color: #555;
    transform: scale(1.05);
    color: white;
}

.quiz-options-difficulty-button.selected {
    background-color: #1db954;
    color: white;
    font-weight: bold;
}

.quiz-options-start-button {
    min-width: 100px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    justify-self: center;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    border: none;
    background-color: rgb(160, 160, 160);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.quiz-options-start-button:hover {
    background-color: #1db954;
    color: white;
}
