.profile-page-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.profile-page-user-information {
    border-radius: 20px;
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    margin: 10px;
}

.profile-page-user-information h2 {
    font-weight: bold;
}

.profile-page-quiz-info {
    border-radius: 20px;
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    margin: 10px;
}

.profile-page-button-container {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(150, 150, 150);
    border-radius: 20px;
    margin: 10px;
}

.profile-page-delete-account {
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    min-width: 150px;
    padding: .25rem;
    background-color: #b91d1d;
    color: white;
    font-weight: bold;
}

.profile-page-disconnect-spotify {
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    min-width: 150px;
    padding: .25rem;
    background-color: #1DB954;
    color: white;
    font-weight: bold;
}

.profile-page-delete-account:hover {
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    min-width: 150px;
    padding: .25rem;
    background-color: #840f0f;
    color: white;
    font-weight: bold;
    transform: scale(1.10);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-page-disconnect-spotify:hover {
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    min-width: 150px;
    padding: .25rem;
    background-color: #0e5f2a;
    color: white;
    font-weight: bold;
    transform: scale(1.10);
    transition: background-color 0.3s ease, color 0.3s ease;
}

strong {
    color: black;
    font-weight: bold;
}

.profile-page-username, .profile-page-correct {
    color:#1DB954;
    font-weight: bold;
}

.profile-page-wrong {
    color: #b91d1d;
    font-weight: bold;
}

.profile-page-lifetime {
    font-weight: bold;
    color: rgb(220, 187, 0);
}
