.gamebar {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: #1DB954;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.gamebar-username, .gamebar-alltime, .gamebar-session {
    font-weight: bold;
    color: white;
}
